.aboutUs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px;

  & > h2 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 24px;
    text-align: center;
  }

  & > p {
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
    line-height: 1.7rem;
  }
}
