.contacts__container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .add__contact {
    align-self: flex-end;
    padding: 8px 16px;

    & > button {
      background: linear-gradient(to bottom, #eeeeee 5%, #dfdfdf 100%);
      background-color: #ededed;
      border-radius: 15px;
      border: 2px solid #222831;
      display: inline-block;
      cursor: pointer;
      color: #222831;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: bold;
      padding: 10px 16px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #ffffff;

      &:hover {
        background: linear-gradient(to bottom, #eeeeee 5%, #ededed 100%);
        background-color: #dfdfdf;
      }
    }
  }

  .contacts__table {
    margin: 10px 10px 0 10px;

    tr:nth-child(odd) {
      td {
        background-color: #dfdfdf;
      }
    }

    tr:nth-child(even) {
      td {
        background-color: #fff;
      }
    }

    th {
      color: #fff;
      font-size: 1.4rem;
      background-color: #222831;
      padding: 5px 10px;
      letter-spacing: 0.5px;
    }

    td {
      @extend th;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: 0;
      padding: 5px 10px;
      text-transform: none;
      color: #393e46;
    }
  }
}
