.sideBar__container {
  background-color: #393e46;
  padding: 20px 10px;
  border-radius: 10px;
  margin-right: 10px;

  .sideBar__list {
    list-style: none;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 830px) {
      flex-direction: row;
      justify-content: flex-end;
    }

    &-item {
      text-align: center;
      padding: 8px 16px;
      margin-top: 10px;

      @media only screen and (max-width: 830px) {
        margin: 0;
      }

      &.active {
        background-color: #222831;
        border-radius: 5px;
      }

      a {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
}

@media only screen and (max-width: 830px) {
  .sideBar__container {
    margin: 0 0 10px 0;
  }

  .sideBar__list {
    flex-direction: unset;
  }
}
